
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
   
    <div class="form-group">
            <div class="col-md-2">
                <label>File Location</label>
            </div>
        @if (DLL.Utility.ApplicationSetting.DbBackUpPath != null){
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" readonly="readonly" value="@ViewBag.DbPath" name="txtBackupPath" id="txtBackupPath" />
            </div>
            }
        </div>
    <div class="form-group">
            <div class="col-md-2">
                <label>File Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" name="txtBackupName" id="txtBackupName" required="required"/>
            </div>
        </div>
    <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                <input type="button" class="btn btn-default" value="Backup" onclick="ExecuteBackup()" />
            </div>
        </div>
</div>
 

            @*<br />
            <input type="button" class="btn btn-info" value="Save" onclick="SaveContribution()" id="btnSave" />
        </div>
    </div>*@

    


@section scripts{

    <script type="text/javascript">
        @*$(document).ready(function () {
            $("#error").val("After enter all contribution of same month then Pss the contribution Voucher");
            $("#ui-datepicker-div").hide();
            $("#txtEmpName").show();
        });

        $(function () {
            $("#txtEmpID").autocomplete({
                source: rootPath + "/Salary1/AutocompleteSuggestions",
                minLength: 1,
                select: function (event, ui) {
                    event.preventDefault();
                    $('input[name="txtEmpID"]').val(ui.item.label);
                    $('input[name="SelectedID"]').val(ui.item.value);
                    return false;
                },
                focus: function (event, ui) {
                    event.preventDefault();
                    $("#txtEmpID").val(ui.item.label);
                },

            });
        });



        function GetEmployeeInfo() {

            var empId = $("#SelectedID").val();
            $.ajax({
                url: rootPath + "/Salary1/GetEmployee",
                type: 'post',
                dataType: 'json',
                data: { empId: empId },
                success: function (result) {
                    $("#txtEmpName").val(result.EmpName);
                    $("#txtEmpDesignation").val(result.Designation);
                    $("#txtEmpDepartment").val(result.Department);
                },
                error: function (result) {
                    alert("Error Ocured");
                }
            });
        }
    *@
        function ExecuteBackup() {
            var filePath = $("#txtBackupPath").val();
            var fileName = $("#txtBackupName").val();
            

            if (filePath != "" && fileName != "") {
                $.ajax({
                    url: rootPath + "/AuditLog/ExecuteBackup",
                    type: 'post',
                    dataType: 'json',
                    data: { name: fileName, path: filePath },
                    success: function (result) {
                        //debugger;
                        //if (data.Success == true)
                        //{
                            //alert("success");
                        ShowDropDownMessage("Database Backup Successfully");
                        //}
                        $("#error").val(result);
                        $("#error").show();
                    }
                });
            }
            else {
                $("#error").show("Pl's select FileName & Date");
            }

        }
    </script>

}
