@{
    ViewBag.Title = "Designation Information";
}


@section scripts{
    <script src="~/Scripts/custom/Designation.js"></script>
}


<div style="width:35%">
    <fieldset>
        <legend>@ViewBag.PageName</legend>
        @(Html.Telerik().Grid<DLL.ViewModel.VM_Designation>()
    .Name("DesignationGrid").HtmlAttributes(new { @class="A"})
        .DataKeys(keys => { keys.Add(s => s.DesignationID); })
            .ToolBar(commands => commands.Custom().Name("InsertCommand").Text("New Designation").ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0", @class = "t-add" }).Ajax(true))
        .DataBinding(databindings =>
            {
                databindings.Ajax()
                    .Select("_SelectDesignation", "Designation");
            }
        )
        .Columns(columns =>
                {
                    columns.Bound(s => s.DesignationID).Visible(false);
                    columns.Bound(s => s.DesignationName);
                    columns.Command(commands =>
                        {
                            commands.Custom("EditCommand").Text("EDIT").Ajax(true)
                           .ButtonType(GridButtonType.Image)
                           .ImageHtmlAttributes(new { @class = "t-edit" });
                        }
                    ).Width(40).Title("");
                  columns.Command(commands =>
                    {   
                        commands.Custom("DeleteCommand").Text("DELETE").Ajax(true)
                            .ButtonType(GridButtonType.Image)
                            .ImageHtmlAttributes(new { @class = "t-delete" });
                        
                    }).Width(40).Title("");
                }
            )
            .Sortable()
               .Pageable(s => s.PageSize(10))
            .ClientEvents(events =>
                { 
                    events.OnCommand("onCommand");
                })
)
        </fieldset>
</div>