@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <fieldset><legend>Member PF Status</legend>
            <table class="table table-striped table-bordered" style="font-weight:bold;width:30%">
                <tr>
                    <td>From Month</td>
                    <td><input type="text" class="dateTimePicker form-control" id="txtFromDate" /></td>
                </tr>
                <tr>
                    <td>To Month</td>
                    <td><input type="text" class="dateTimePicker form-control" id="txtToDate" /></td>
                </tr>
                <tr>
                    <td>Employee Id</td>
                    <td>
                        @*Edited by Fahim 07/12/2015*@
                        <input id="searchTerm" name="searchTerm" onclick="Clear();" type="text" placeholder="Select Employee ID" class="form-control" /><input type="hidden" id="SelectedEmpID" name="SelectedEmpID" />
                    </td>                                       
                </tr>
                <tr>
                    <td>Employee Name</td>
                    <td>
                        @*Edited by Fahim 07/12/2015*@
                        <input id="searchTermName" name="searchTermName" onclick="Clear();" type="text" placeholder="Select Employee Name" class="form-control" /><input type="hidden" id="SelectedEmpName" name="SelectedEmpName" />
                    </td> 
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right">
                        <input type="button" class="btn btn-info" value="Find" onclick="GetEmployee()" />
                    </td>
                </tr>
            </table>
        <br />
    <div id="dvMessage"></div>
    <br />
    <div class="col-md-3">
        <div id="dvEmpDetail"></div>
    </div>
    <div class="col-md-9">
             <div id="dvEmpPFMonthlyStatus"></div>
    </div>
    </fieldset>
    </div>
    </div>


@section scripts{
    <script src="~/Scripts/custom/MemberPFStatus.js"></script>


    <script type="text/javascript">
        $(function () {
            $(".ui-datepicker").hide();
            $('.dateTimePicker').datepicker({ dateFormat: "dd/M/yy", changeYear: true });
        });

        $(function () {
            $("#searchTerm").autocomplete({
                source: rootPath + "/PFSettings/MemberPFStatus/AutocompleteSuggestions",
                minLength: 1,
                select: function (event, ui) {
                    //$('input[name="searchTerm"]').val(ui.item.label); //Commented by Fahim
                    $('input[name="searchTerm"]').val(ui.item.label); //Added by Fahim
                    $('input[name="SelectedEmpID"]').val(ui.item.label);
                    $("#searchTermName").val(ui.item.value); //Added by Fahim
                    $("#SelectedEmpName").val(ui.item.value); //Added by Fahim
                    return false;
                }
            });
        });

        // Added by Fahim 07/12/2015
        function Clear() {
            document.getElementById("searchTerm").value = "";
            document.getElementById("SelectedEmpID").value = "";
            document.getElementById("searchTermName").value = "";
            document.getElementById("SelectedEmpName").value = "";
        }

        $("#searchTermName").autocomplete({
            source: rootPath + "/PFSettings/MemberPFStatus/AutocompleteSuggestionsName",
            minLength: 1,
            select: function (event, ui) {
                if (ui.item) {
                    $("#searchTermName").val(ui.item.label);
                    $("#SelectedEmpName").val(ui.item.label);
                    $("#searchTerm").val(ui.item.value);
                    $("#SelectedEmpID").val(ui.item.value);
                    return false;
                }
            }
        });
        //End Fahim

        function GetEmployee() {
            //Added by Fahim 07/12/2015
            var startDate = $('#txtFromDate').val();
            var endDate = $('#txtToDate').val();
            _txtEmpId = $("#searchTerm").val();
            _txtEmpName = $("#searchTermName").val();
            if (Date.parse(startDate) > Date.parse(endDate) && startDate != "" && endDate != "") {
                ShowModalMessage("To Date must be Greater than From Date");
                $('#loading-indicator').hide();
                return;
            }
            if (_txtEmpId == "" || _txtEmpName == "") {
                ShowModalMessage("Please Select Employee Id and Employee Name.");
                $('#loading-indicator').hide();
                return;
            }
            //End Fahim
            var _curEmployeeID = $("#SelectedEmpID").val();
            var fromDate = $("#txtFromDate").val();
            var toDate = $("#txtToDate").val();
            var viewUrl = rootPath + "/Employee/EmpIdValidation/?id=" + $('#searchTerm').val();
            if (_curEmployeeID) {

                $.get(viewUrl, function (data) {
                    if (data.Success == true) {

                        $("#dvMessage").text('');
                        $("#dvMessage").removeClass("alert alert-danger");

                        $("#dvEmpDetail").html('');
                        var URL = rootPath + "/PFSettings/MemberPFStatus/GetEmployeeByID/?empId=" + _curEmployeeID;
                        $.get(URL, function (data) {
                            $("#dvEmpDetail").html('');
                            $("#dvEmpDetail").html(data);
                        });
                        var URL = rootPath + "/PFSettings/MemberPFStatus/SelectPFStatus/?empId=" + _curEmployeeID + "&fromDate=" + fromDate + "&toDate=" + toDate;
                        $.get(URL, function (data) {
                            $("#dvEmpPFMonthlyStatus").html('');
                            $("#dvEmpPFMonthlyStatus").html(data);
                        });
                    }
                    else {
                        $("#dvMessage").text(data.ErrorMessage);
                        $("#dvMessage").addClass("alert alert-danger");
                    }
                });
            }
            else {
                ShowModalMessage('Select a memberID to continue...');
            }
        }

</script>
}