@model DLL.ViewModel.VM_Amortization


<div class="row">
    <div class="form-inline">
        Monthly Paid: @ViewBag.MonthlyPaid Total Paid: @ViewBag.TotalPaid Interest Paid: @ViewBag.InterestPaid
    </div>
</div>

<div>


</div>