@{
    ViewBag.Title = "Connection Failed!";
}

<div style="text-align:center">
    <img border="0" src="/Images/Unplug.jpg" alt="Pulpit rock" width="304" height="228">
</div>
<br />
<div class="alert alert-warning" style="text-align: center">
    <h3>FAILED TO CONNECT DATABASE</h3>
    <h3>YOUR DB SERVER IS DOWN</h3>
    <h3>OR</h3>
    <h3>CHECK YOUR CONNECTION STRING</h3>
</div>