@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class =" row">
    <div class="col-md-12">
<hgroup class="title" style="text-align:center">
    <h1 class="alert alert-danger">Unauthorized!</h1>
</hgroup>
        </div>
    </div>
<div style="text-align:center">
    <img border="0" src="/Images/Unauthorize.jpg" alt="Pulpit rock" width="304" height="228">
    <h2 >You are not allowed to access <strong style="font-weight:bold; color:green">@ViewBag.PageName</strong> page! contact administrator.</h2>
</div>

