<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="PFTMEntities" connectionString="metadata=res://*/PFModel.csdl|res://*/PFModel.ssdl|res://*/PFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-LHB5OKT;initial catalog=EchoSourcing;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PFConnection" connectionString="data source=DESKTOP-HKAKDAV;initial catalog=EcoTexFinal;user id=sa;password=ssl@1234" providerName="System.Data.SqlClient" />
    <add name="PFTMEntities" connectionString="metadata=res://*/PFModel.csdl|res://*/PFModel.ssdl|res://*/PFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HKAKDAV;initial catalog=EcoTexFinal;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PFTMEntities" connectionString="metadata=res://*/PFModel.csdl|res://*/PFModel.ssdl|res://*/PFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EcoTexFinal;user id=sa;password=ssl@1234;multipleactiveresultsets=True;connect timeout=10000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EcoTexFinalEntities" connectionString="metadata=res://*/PFModel.csdl|res://*/PFModel.ssdl|res://*/PFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EcoTexFinal;user id=sa;password=ssl@1234;multipleactiveresultsets=True;connect timeout=10000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PFTMEntities" connectionString="metadata=res://*/PFModel.csdl|res://*/PFModel.ssdl|res://*/PFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EcoTexFinal;user id=sa;password=ssl@1234;multipleactiveresultsets=True;connect timeout=10000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PF_Entities" connectionString="metadata=res://*/PFModel.csdl|res://*/PFModel.ssdl|res://*/PFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=YWCAPF_Test;user id=sa;password=ssl@1234;multipleactiveresultsets=True;connect timeout=10000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PFTMEntities" connectionString="metadata=res://*/PFModel.csdl|res://*/PFModel.ssdl|res://*/PFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HKAKDAV;initial catalog=BritishCouncilPF;user id=sa;password=ssl@1234;multipleactiveresultsets=True;connect timeout=10000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>